<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @people_profile.person %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @people_profile.profile %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @people_profile.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @people_profile.end_date %>
</p>

<p>
  <strong>Active:</strong>
  <%= @people_profile.active %>
</p>

<%= link_to 'Edit', edit_people_profile_path(@people_profile) %> |
<%= link_to 'Back', people_profiles_path %>
