<p id="notice"><%= notice %></p>

<p>
  <strong>File:</strong>
  <%= @person.file %>
</p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @person.dni %>
</p>

<p>
  <strong>Dni has expiration:</strong>
  <%= @person.dni_has_expiration %>
</p>

<p>
  <strong>Date expiration dni:</strong>
  <%= @person.date_expiration_dni %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @person.birth_date %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @person.nationality %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @person.direction %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @person.phone %>
</p>

<p>
  <strong>Date start activity:</strong>
  <%= @person.date_start_activity %>
</p>

<p>
  <strong>Active:</strong>
  <%= @person.active %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
