<% if current_user.admin? %>
  <div class="row justify-content-between">
    <div class="col-4">
      <%= link_to "<i class='fa fa-plus'></i> Registrar trabajo".html_safe, new_job_path( d_type: params[:d_type] ),
        remote: true, 
        class: 'btn u-btn-outline-indigo u-btn-hover-v1-2 mb-2' %>
    </div>
  </div>
<% end %>
<%= render( partial: 'shared/table', 
            locals: { table_id: 'jobs', 
                      color: 'teal', 
                      icon: 'fa-gear',
                      title: "Trabajos de #{@type} registrados", 
                      col_names: [ 'Código','Nombre', 'Acciones' ] }) %>

<!-- Modal para eliminar job -->
<div class="modal fade" id="modal-disable-job" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">¿ Esta seguro de dar de baja este trabajo ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with(url: disable_job_path, id: 'form-disable-job') do |form| %>
          <%= form.hidden_field :job_id %>
          <%= form.submit 'Eliminar', class: 'btn u-btn-red g-mr-10' %>
          <button type="button" class="btn u-btn-teal g-mr-10" onclick="close_modal('modal-disable-job')"> Cerrar </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- Fin modal eliminar job -->