<h1>Puestos de trabajo</h1>
<%= link_to "<i class='fa fa-plus'></i> Registrar trabajo".html_safe, new_job_path( d_type: params[:d_type] ),remote: true, 
  class: 'btn u-btn-outline-indigo u-btn-hover-v1-2 mb-2' %>

<%= render( partial: 'shared/table', 
            locals: { table_id: 'jobs', 
                      color: 'blue', 
                      icon: 'fa-gear',
                      title: "Trabajos de #{@type} registrados", 
                      col_names: [ 'Nombre', 'Descripcion', 'Zonas/Perfiles','Acciones' ] }) %>

<input type="hidden" id="jobs_d_type" value=<%= params[:d_type] %> >

<!-- Modal para eliminar company -->
<div class="modal fade" id="modal-disable-company" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">¿ Esta seguro de dar de baja este trabajo ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with(url: disable_company_path, id: 'form-disable-company') do |form| %>
          <%= form.hidden_field :company_id %>
          <%= form.submit 'Eliminar', class: 'btn u-btn-red g-mr-10' %>
          <button type="button" data-dismiss="modal" class="btn u-btn-teal g-mr-10"> Cerrar </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- Fin modal eliminar company -->