<h1>Puestos de trabajo</h1>
<% if current_user.admin? %>
  <div class="row justify-content-between">
      <div class="col-4">
        <%= link_to "<i class='fa fa-plus'></i> Registrar trabajo".html_safe, new_job_path( d_type: params[:d_type] ),
          remote: true, 
          class: 'btn u-btn-outline-indigo u-btn-hover-v1-2 mb-2' %>
      </div>
  </div>
<% end %>

<%= render( partial: 'shared/table', 
            locals: { table_id: 'jobs', 
                      color: 'teal', 
                      icon: 'fa-gear',
                      title: "Trabajos de #{@type} registrados", 
                      col_names: [ 'Código','Nombre','Acciones' ] }) %>

<%= render( partial: 'shared/table', 
            locals: { table_id: 'zone_job_profiles', 
                      color: 'blue', 
                      icon: 'fa-gear',
                      title: "", 
                      col_names: [ 'Centro de costos','Sub centro de costos','Acciones' ] }) %>

<input type="hidden" id="jobs_d_type" value=<%= params[:d_type] %> >

<!-- Modal para eliminar job -->
<div class="modal fade" id="modal-disable-job" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">¿ Esta seguro de dar de baja este trabajo ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with(url: disable_job_path, id: 'form-disable-job') do |form| %>
          <%= form.hidden_field :job_id %>
          <%= form.submit 'Eliminar', class: 'btn u-btn-red g-mr-10' %>
          <button type="button" data-dismiss="modal" class="btn u-btn-teal g-mr-10"> Cerrar </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- Fin modal eliminar job -->

<!-- Modal disable zone profile job -->
<div class="modal fade" id="modal-disable-zone-job-profile" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">¿ Esta seguro de dar de baja este trabajo ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with(url: disable_job_path, id: 'form-disable-job') do |form| %>
          <%= form.hidden_field :job_id %>
          <%= form.submit 'Eliminar', class: 'btn u-btn-red g-mr-10' %>
          <button type="button" data-dismiss="modal" class="btn u-btn-teal g-mr-10"> Cerrar </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- Fin modal disable zone profile job -->

<div class="modal fade" id="modal-index" tabindex="-1" role="dialog"></div>
<div class="modal fade" id="modal-action" tabindex="-1" role="dialog"></div>