<p id="notice"><%= notice %></p>

<p>
  <strong>Renovation date:</strong>
  <%= @document_renovation.renovation_date %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @document_renovation.expiration_date %>
</p>

<p>
  <strong>Active:</strong>
  <%= @document_renovation.active %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @document_renovation.comment %>
</p>

<p>
  <strong>Assignments document:</strong>
  <%= @document_renovation.assignments_document %>
</p>

<%= link_to 'Edit', edit_document_renovation_path(@document_renovation) %> |
<%= link_to 'Back', document_renovations_path %>
