    <!-- Header -->
    <header id="js-header" class="u-header" data-header-fix-moment="500" data-header-fix-effect="slide">
      <!-- Top Bar -->
      <div class="u-header__section g-brd-bottom g-brd-gray-light-v4 g-bg-black g-transition-0_3">
        <div class="container">
          <div class="row justify-content-between align-items-center g-mx-0--lg">
            <div class="col-sm-auto g-pos-rel g-py-8">
                <div class="text-white">
                  <!-- username -->
                </div>
            </div>

            <div class="col-sm-auto g-pr-15 g-pr-0--sm">
              <a href="#" class="btn btn-sm btn-info my-1">Cerrar sesion</a>
            </div>
          </div>
        </div>
      </div>
      <!-- End Top Bar -->

      <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10" data-header-fix-moment-exclude="g-bg-white g-py-10" data-header-fix-moment-classes="g-bg-white-opacity-0_7 u-shadow-v18 g-py-0">
        <nav class="js-mega-menu navbar navbar-expand-lg">
          <div class="container">
            <!-- Responsive Toggle Button -->
            <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
              <span class="hamburger hamburger--slider">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
              </span>
              </span>
            </button>
            <!-- End Responsive Toggle Button -->
            <!-- Logo -->
            <%= link_to root_path, class: 'navbar-brand mr-4' do %>
              <%= image_tag('logo.png', alt: 'Logo') %>
            <% end %>
            <!-- End Logo -->

            <!-- Navigation -->
            <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 " id="navBar">
              <ul class="navbar-nav mr-auto text-uppercase g-font-weight-600 u-main-nav-v5 u-sub-menu-v1">
                <li class="nav-item hs-has-sub-menu g-mx-20--lg g-mb-5 g-mb-0--lg"> 
                  <%= link_to 'Personal', people_path, class: 'nav-link', id: 'nav-people', 
                    aria: { haspopup: "true", expanded: 'false', controls: 'nav-submenu-1' } %>
                  <!-- Submenu personas -->
                  <ul class="hs-sub-menu list-unstyled g-mt-20--lg g-mt-10--lg--scrolling" id="nav-submenu-people" aria-labelledby="nav-people">
                    <li>
                      <li><%= link_to 'Listar personas', people_path %></li>
                      <li><%= link_to 'Admin. empresas', companies_path( d_type: :people ) %></li>
                      <li><%= link_to 'Admin. perfiles', profiles_path( d_type: :people ) %></li>
                      <li><%= link_to 'Admin. documentos', documents_path( d_type: :people ) %></li>
                      <li><%= link_to 'Asignación de perfiles', people_profiles_path() %></li>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <!-- End Navigation -->
            <div class="">
              <button class="btn u-btn-primary float-left"> User</button>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- End Header -->
