<%= form_with(model: @cost_center, id: 'form-cost-center', class: 'needs-validation g-brd-around g-brd-gray-light-v4 g-pa-10 g-mb-10') do |form| %>
  <div class="form-group row">
    <%= form.hidden_field :d_type, value: @d_type %>
    <%= form.label :profile_id, 'Perfil:' ,class:'col-form-label col-sm-3 col-md-4' %>
    <div class="col-sm-8 col-lg-6">
      <%= form.select(:profile_id, Profile.where(d_type: @d_type).actives.collect { |profile| ["#{profile.code}-#{profile.name}", profile.id] }, 
        { include_blank: true},
        required: true,
        class: 'form-control select-2-profile') %>
    <small class="form-control-feedback text-danger cost_center_profile"></small>
    </div>
  </div>
 <div class="form-group row">
    <%= form.label :job_id, 'Puesto laboral:' ,class:'col-form-label col-sm-3 col-md-4' %>
    <div class="col-sm-8 col-lg-6">
      <%= form.select(:job_id, Job.where(d_type: @d_type).actives.collect { |job| ["#{job.code}-#{job.name}", job.id] }, 
        { include_blank: true},
        required: true,
        class: 'form-control select-2-job') %>
    <small class="form-control-feedback text-danger cost_center_job"></small>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :zone_id, 'Zona:' ,class:'col-form-label col-sm-3 col-md-4' %>
    <div class="col-sm-8 col-lg-6">
      <%= form.select(:zone_id, Zone.actives.collect { |zone| ["#{zone.code}-#{zone.name}", zone.id] }, 
        { include_blank: true},
        required: true,
        class: 'form-control select-2-zone') %>
    <small class="form-control-feedback text-danger cost_center_zone"></small>
    </div>
  </div>

  <div class="actions">
    <%= form.submit 'Guardar', class: 'btn u-btn-primary mr-2' %>
    <button type="button" class="btn u-btn-red" data-dismiss="modal">Cerrar</button>
  </div>
<% end %>
